
body {
    background-color:#1da1f226;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    font-size: 16px;
}

.header {
    width: 100%;
    text-align: center;
}

h1 {
    text-align: center
}

.tweet {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin:auto;
    width:50%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.tweet figure {
    width: 15%;
}

.tweet div {
    width: 80%;
}

.date {
    color:#657786;
}
.date, .user {
    font-size: .9rem;
}