<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

	</head>
	<body>
		<div class="header">
			<h1>Tweets about {{search_term}}</h1>
		</div>
		<div>
		{% for tweet in tweets %}
			<div class="tweet">
				{% if tweet.image %}
				<figure>
					<img src="{{tweet.image}}"/>
				</figure>
				{% endif %}
				<div>
					<p>{{tweet.text}}</p>
					<p class="date">{{tweet.date}}</p>
					<p class="user">Tweet by: <a href={{tweet.url}} >{{tweet.user}}</a></p>
				</div>
			</div>
		{% endfor %}
		</div>
	</body>
</html>
